@model SSMSDataModel.DAL.ORDER

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ORDER</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ORDER_NUMBER, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ORDER_NUMBER)
                @Html.ValidationMessageFor(model => model.ORDER_NUMBER)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.USER_ID, "USER_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("USER_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.USER_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATETIME_ORDER_PLACED, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATETIME_ORDER_PLACED)
                @Html.ValidationMessageFor(model => model.DATETIME_ORDER_PLACED)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DEPARTURE_DATETIME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DEPARTURE_DATETIME)
                @Html.ValidationMessageFor(model => model.DEPARTURE_DATETIME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DEPARTURE_STREET_ADDRESS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DEPARTURE_STREET_ADDRESS)
                @Html.ValidationMessageFor(model => model.DEPARTURE_STREET_ADDRESS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DEPARTURE_CITY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DEPARTURE_CITY)
                @Html.ValidationMessageFor(model => model.DEPARTURE_CITY)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DEPARTURE_STATE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DEPARTURE_STATE)
                @Html.ValidationMessageFor(model => model.DEPARTURE_STATE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DEPARTURE_ZIPCODE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DEPARTURE_ZIPCODE)
                @Html.ValidationMessageFor(model => model.DEPARTURE_ZIPCODE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESTINATION_NAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DESTINATION_NAME", String.Empty)
                @Html.ValidationMessageFor(model => model.DESTINATION_NAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NUMBER_OF_PASSENGERS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NUMBER_OF_PASSENGERS)
                @Html.ValidationMessageFor(model => model.NUMBER_OF_PASSENGERS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FLIGHT_DETAILS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FLIGHT_DETAILS)
                @Html.ValidationMessageFor(model => model.FLIGHT_DETAILS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COMMENTS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COMMENTS)
                @Html.ValidationMessageFor(model => model.COMMENTS)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
