@model ShuttleServiceManagementSystem.Models.LoginModel

@{
    ViewBag.Title = "Index";
}

<script src=@Url.Content("~/Scripts/jquery.validate.min.js")></script>
<script src=@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")></script>

<h1>Login</h1>

@using(Html.BeginForm())
{
    @Html.Label("Username")
    @Html.TextBoxFor(m => m.userName)
    <br/>
    @Html.Label("Password");
    @Html.PasswordFor(m => m.password);
    <br/> <br/>
    <input type="submit" />
    @Html.ValidationSummary()
}